# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo

# IDE/Editor specific files and directories
.idea/
.vscode/

# Web server specific logs and database files
logs/
instance/

# Configuration files with sensitive information
config.py

# Virtual environment
.venv

# Compiled Python files
*.pyc

# Local development settings
.env
